.footer-container
    @include flexbox(column, center,center, 1rem)
    @include set-background-image('../assets/shared/leaf-pattern.jpg', top, cover)
    box-shadow: 0px -13px 50px -10px rgba(0,0,0,0.75)
    position: relative
    

    .footer-content
        @include flexbox(column, center,center, 1.5rem)
        padding: 2rem
        z-index: 2
        .footer-logo
            @include set-font(#17d330, Poppins, 1.6rem, bold,normal) // MediumGreen
            text-transform: uppercase

        .footer-text
            @include set-font(white, Roboto, 1.4rem, 400,normal)
            letter-spacing: 0.12rem

        .social-network
            @include flexbox(row, center,center, 1.5rem)

            color: white
            font-size: 3rem

        .content-title
            @include set-font(#17d330, Poppins, 1.6rem, bold,normal) // MediumGreen
            text-transform: uppercase
            


    